<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <!-- Interval de temps en millisecondes entre chaque verification de nouveau commit -->
  <add key="Interval" value="30000"/>
  <!-- Temps d'affichage de la popup en millisecondes -->
  <add key="PopUpVisibleDuration" value="8000"/>
  <add key="CredentialDomain" value="YourTfsCredental"/>
  <add key="TfsUrl" value="YourTfsUrl"/>
</appSettings>
</configuration>